<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="modal-form" method="post" action="" name="modal-form" autocomplete="off" enctype="multipart/form-data">
        
              <div>
                <div class="form-floating mb-2">
                  <input class="form-control input-title" id="floatingInput"  placeholder="Title" type="text" name="title" value="{{values.title}}">
                  <label class="lable-title" for="floatingInput">Title</label>
                  {{#if validationMessages.title}}
                    <span style="color: red;">{{validationMessages.title}}</span><br/>
                  {{/if}}
                </div>
              
            
              <div class="form-floating mb-2">
                <input class="form-control input-includes" id="floatingInput"  placeholder="Include" type="text" name="includes" value="{{values.includes}}">
                <label for="floatingInput">Include</label>
                {{#if validationMessages.includes}}
                    <span style="color: red;">{{validationMessages.includes}}</span><br/>
                  {{/if}}
              </div>

              <div class="form-floating mb-2">
                <input class="form-control input-category" id="floatingInput"  placeholder="Category" type="text" name="category" value="{{values.category}}">
                <label for="floatingInput">Category</label>
                {{#if validationMessages.category}}
                    <span style="color: red;">{{validationMessages.category}}</span><br/>
                  {{/if}}
              </div>

              <div class="form-floating mb-2">
                <input class="form-control input-price" id="floatingInput"  placeholder="Price" type="text" name="price" value="{{values.price}}">
                <label for="floatingInput">Price</label>
                {{#if validationMessages.price}}
                    <span style="color: red;">{{validationMessages.price}}</span><br/>
                {{/if}}
              </div>

              <div class="form-floating mb-2">
                <input class="form-control input-cookingTime" id="floatingInput"  placeholder="CookingTime" type="text" name="cookingTime" value="{{values.cookingTime}}">
                <label for="floatingInput">CookingTime</label>
                {{#if validationMessages.cookingTime}}
                    <span style="color: red;">{{validationMessages.cookingTime}}</span><br/>
                  {{/if}}
              </div>

              <div class="form-floating mb-2">
                <input class="form-control input-servings" id="floatingInput"  placeholder="Servings" type="text" name="servings" value="{{values.servings}}">
                <label for="floatingInput">Servings</label>
                {{#if validationMessages.servings}}
                    <span style="color: red;">{{validationMessages.servings}}</span><br/>
                  {{/if}}
              </div>
                 
              <div class="mb-3">
                    <label for="formFile" class="form-label">Upload a picture for item</label>
                    <input class="form-control" type="file" id="formFile" name="imageUrl">
                    {{#if validationMessages.imageUrl}}
                    <span style="color: red;">{{validationMessages.imageUrl}}</span><br/>
                  {{/if}}
              </div>

              <div class="input-group mb-3">
                <div class="input-group-text">
                  <label for="checkbox">Is it a Top Meal?</label>
                  <input class="form-check-input mt-0 ms-2 input-checkbox" type="checkbox" aria-label="Checkbox for following text input" id="checkbox2" name="topMeal" value="true">
                </div>
              </div>
            
                 <div class="form-floating">
                    <textarea cols="50" class="form-control input-description" placeholder="Description" id="floatingTextarea" name="description"></textarea>
                    <label for="floatingTextarea">Description</label>
                    {{#if validationMessages.description}}
                    <span style="color: red;">{{validationMessages.description}}</span><br/>
                  {{/if}}
                  </div>
                 {{!-- <textarea  rows="1" cols="50" id="note-text" placeholder="Description" name="description"></textarea> --}}
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
              </form> 
      </div>
      
    </div>
  </div>
</div>

