 <link rel="stylesheet" href="/css/CardForClerk.css">


{{#if title}}
<div class="card align-items-center note">
    <a role="button" data-bs-target="#exampleModal" data-bs-toggle="modal"
    data-bs-whatever="{{_id}}𰻞{{title}}𰻞{{includes}}𰻞{{description}}𰻞{{category}}𰻞{{price}}𰻞{{cookingTime}}𰻞{{servings}}𰻞{{imageUrl}}𰻞{{topMeal}}">
        <img src="/image/{{imageUrl}}" class="img-fluid card-img-top" alt="Picture of {{title}}"/>
        <div class="card_body">
            <h4>{{title}}</h4>
            {{!-- <p>{{includes}}</p>
            <p class="description">{{description}}</p> --}}
        </div>
    </a>
    <div class="toolbar-container">
            <div class="toolbar d-flex justify-content-center">
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{_id}}𰻞{{title}}𰻞{{includes}}𰻞{{description}}𰻞{{category}}𰻞{{price}}𰻞{{cookingTime}}𰻞{{servings}}𰻞{{imageUrl}}𰻞{{topMeal}}" class="card-btn"><i class="toolbar-edit fa-solid fa-pen-to-square"></i></button>
                <a class="card-btn" href="/clerk/remove-mealkit/{{_id}}"><i class="toolbar-delete fa-solid fa-trash"></i></a>
            </div>
        </div>
</div>
{{else}}
<tr>
    <h1>{{title}}</h1>
    <h1>{{servings}}</h1>
    <td colspan="4">{{title}} has hidden their information and you cannot see.</td>
</tr>
{{/if}}
{{!-- for edit, no picture, some parts empty is fine, but no error information --}}
